body {
    background-image: linear-gradient(45deg, #eea849, #ff3984);
}

.container {
    height: 500px;
    width: 500px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    -webkit-perspective: 1000px;

}

.circle {
    height: 300px;
    width: 300px;
    border: 4px solid white;
    border-radius: 50%;
    transform-style: preserve-3d;
   -webkit-transform-style: preserve-3d;
    animation: rotate 6s infinite linear;

}
@keyframes rotate {
    100%{
        transform: rotateY(360deg)
        rotateZ(360deg);
    }
}

.circle>div {
    height: 300px;
    width: 300px;
    border: 4px solid white;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
}

.circle>div:nth-child(1) {
    transform: rotateY(36deg);
}
.circle>div:nth-child(2) {
    transform: rotateY(72deg);
}
.circle>div:nth-child(3) {
    transform: rotateY(108deg);
}
.circle>div:nth-child(4) {
    transform: rotateY(144deg);
}